!!!5
html
	head
		title A de je vlak
		link(rel="stylesheet", href="/global.css")
		link(href="http://fonts.googleapis.com/css?family=Open+Sans:400,300", rel="stylesheet" type="text/css")
	body
		p#title W T F
		div#nekidiv
			p k1
			p k2
			p k3
			p k4
