!!!5
html
	head
		title Intro
		link(rel="stylesheet", href="/intro.css")
		link(href="http://fonts.googleapis.com/css?family=Open+Sans:400,300", rel="stylesheet" type="text/css")
		meta(charset="utf-8")
	body
		#content
			#header
				#logotext
					#logoMtext Vlak
					#logoBtext A de je vlak?

				#headerlinks
					p link1
					p link2

			#main
				form(action="/raspored", method="post")
					label(for="polaziste") Polaziste
					input(list="polaziste", name="polaziste")
					datalist#polaziste
						each pol in popis
							option(value=pol)
					label(for="dolaziste") Dolaziste
					input(list="dolaziste", name="dolaziste")
					datalist#dolaziste
						each dol in popis
							option(value=dol)
					input(type="submit", value="submit") Submito