body
	font 16px Open Sans, Arial Black

#content
	width 1000px
	height 300px
	margin-left auto
	margin-right auto
	text-decoration none

#content > *
	//background-color black
	//color white

#header
	font-size 26px

#logotext
	text-align center
#logoMtext
	font-size 72px
	height 73px
#logoBtext
	font-size 24px

#headerlinks
	height 100px
	text-align center

#headerlinks > *
	display inline-block
	padding-left 10px
	padding-right 10px

#main
	height 500px