body
	font 16px Open Sans, Arial Black
	font-weight 300
	margin 0px

#content
	margin-left auto
	margin-right auto
	text-decoration none

#headercontainer
	background-color black
	color white
	height 100px

#header
	margin auto
	width 1000px
	height inherit
#header > *
	float left

#logo
	margin-top 20px
	margin-left 20px
#logoText
	font-size 36px
	height 40px
#logoSlogan
	font-size 18px
	margin-left 20px

#headerLinks
	margin-top 30px
	margin-left 50px
#headerLinks > *
	float left
	margin-left 100px

#main
	margin auto
	width 1000px
	height 500px

#stationsSubmitForm
	margin-top 100px
	margin-left 100px
#stationsSubmitForm > *
	display block
