body
	font 16px Open Sans, Arial Black
	font-weight 300
	margin 0px

input
	height 28px

#content
	margin-left auto
	margin-right auto
	text-decoration none

#header-container
	background-color black
	color white
	height 100px

#header
	margin auto
	width 1000px
	height inherit
#header > *
	float left

#logo
	margin-top 20px
	margin-left 20px
#logo-text
	font-size 36px
	height 40px
#logo-slogan
	font-size 18px
	margin-left 20px

#header-links
	margin-top 30px
	margin-left 50px
#header-links > *
	float left
	margin-left 100px

#main
	margin auto
	width 1000px
	height 500px

#stations-submit-form
	margin-top 100px
	margin-left 100px
	width 400px

#from-station
	width 240px
#to-station
	width 240px
.first-label
	width 100px

.input-group
	margin-bottom 2px

#button-no-border
	border-top-left-radius 0
	border-bottom-left-radius 0
.btn-radio
	width 80px