body
	font 18px Open Sans, Arial Black
	//background-color #FFE191
	
.timebox
	width 150px
	height 30px
	text-align center
	border-radius 0.3em
	margin 5px auto 5px auto
	//background-color #91FFED

.time
	display inline-block

.timepol
	margin-right 5px

.timedol
	margin-left 5px

#glavnidio
	margin auto
	width 600px
	height inherit
	//background-color #FF91BE